<h1>You gotta start somewhere</h1>

<h3>Pick a subreddit</h3>

<ul>
  <li><a href="/reddit/news">News</a></li>
  <li><a href="/reddit/stardewvalley">Stardew Valley</a></li>
  <li><a href="/reddit/hockey">Hockey</a></li>
  <li><a href="/reddit/CFB">CFB</a></li>
  <li><a href="/reddit/gaming">Gaming</a></li>
  <li><a href="/reddit/me_irl">me_irl</a></li>
</ul>